input:hover {
  cursor: text;
}
button:hover {
  cursor: pointer;
}
span:hover {
  cursor: pointer;
}
label {
  font-size: 1.1em;
}
.hover {
  font-size:2em;
  color:#f0f0f0;
}
.hover:hover {
  font-size:2em;
  color:#505050;
}
.hlhover:hover {
  background-color:#f0f0f0;
  cursor: hand;
}
li {
  font-family: 'agave';
}
p {
  font-family: 'Verdana';
}
.green {
  list-style: none;
  line-height: 16px;
  padding-left:16px;
  cursor: hand;
}
.green:before {
   content: '';
   display: inline-block;
   height: 16px;
   width: 16px;
   background-image: url('img/green.png');
   background-size: 16px auto
}
.my-group-item {
   padding-top:8px;
   height:32px;
}

.draggable {
  -webkit-app-region:drag;
}
 div {
    -webkit-user-select: none;
}

body {
  transition: background-color 0.5s ease;
  style="-webkit-app-region: drag";
}

// button << btn;
.sidebar {
	background-color: #f0f0f0 !important;
}
