a {
  color: #a0a0f0;
}

/* font used for listing items in tables */
td, th {
  /* font-family: Courier New; */
  font-family: 'agave', 'Ubuntu Mono' ;
}

@font-face {
  font-family: agave;
  src: url(agave.ttf)
}

textarea {
	font-family: 'agave', 'Ubuntu Mono', 'Courier New', 'Courier';
	padding:1em;
}

select {
	background-color: #e0e0e0;
	border: 1px solid #5050ff;
	border-radius: 5px;
}

.pre {
  font-family: 'agave', 'Ubuntu Mono', 'Courier New', 'Courier';
  font-weight:bold;
  padding: 5px;
  overflow: scroll !important;
  word-wrap: break-word;
  display:inline-block;
  line-height: 1em;
  white-space: pre-wrap;
}

font {
  user-select:text;
}

pre {
  font-family: 'agave', 'Ubuntu Mono', 'Courier New';
}

textarea:hover {
  cursor: text;
}

input:hover {
  cursor: text;
}

button:hover {
  cursor: pointer;
  background-color: red;
}

span:hover {
  cursor: pointer;
}

.label {
  background-color: #e0e0e0;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 2px;
}

.label:hover {
  background-color: white;
  display:inline-flex;
}

.sidebar {
  background-color: '#f0f0f0';
}
.history {
  display:inline-flex;
}

.row {
  font-family:Courier;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
  margin:0px;
  height: 0;
}

.pane {
  font-family: Verdana;
}
